body {
    margin: 0;

    background-image: url('/images/bg_image.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "navbar navbar navbar"
        "round_1 round_2 round_3" 
}
  
  
#main-2 {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

#main-1 {
    grid-column: navbar;   
    background-color: black;
}

.round_1 {
    grid-area: round_1;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.round_1 img, .round_2 img, .round_3 img{
    height: 30vh;
}
  
.round_2 {
    grid-area: round_2;
    display: flex;
    justify-content: center;
}

  
.round_3 {
    grid-area: round_3;
    display: flex;
    justify-content: center;
}

div {
    display: inline-block;
}
  
div.card-body {
    padding: 2px;
}
  
  
.round_1 {
    grid-area: round_1;
    margin-top: 20px;
    display: flex;

}
  
.round_2 {
    grid-area: round_2;
    margin-top: 20px;
    display: flex;
}
  
.round_3 {
    grid-area: round_3;
    margin-top: 20px;
}

h1 {
    border: 2px black solid;
    background-color: white;
    text-align: center;
}