body {
  margin: 0;
  background-image: url('/images/bg_image.jpg');
  background-size: cover;
}


#main-2 {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  text-align: center;
}

div {
  display: inline-block;
}


div.card-body {
  padding: 2px;
}

#profile-id {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* #comp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343A40;
} */

h2 {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: white;
  color: #343A40;
  border: 4px solid #343A40;
  display: inline-block;
  border-radius: 25px;
}

a {
  padding-right: 20px;
}

ul.right {
  color: #343A40;
}

.image-form {
  background-color: white;
  display: inline-block;
  text-align: right;
  border: 4px solid #343A40;
  border-radius: 25px;
  padding: 20px;
}


#main-3 {
  /* display: inline-block; */
  justify-content: center;
  /* padding-top: 90px; */
  text-align: center;
  margin-top: 50px;
}

#no-flex {

}

.image-form2 {
  background-color: white;
  display: inline-block;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}

table {
  border: 3px solid black;
  color: black;
  background-color: white;
}

td+a{
  color: black;
}

th, td {
  border: 3px solid black;
  padding: 10px;
}

#dog-card {
  display: flex;
  justify-content: center;
  text-align: center;
}